body {
  font-family:
    Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

a {
  margin-right: 1rem;
}

main {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}
